@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url(./assets/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}

* {
  box-sizing: inherit;
  padding: 0;
}
*:after{
  box-sizing: inherit;
  padding: 0;

}
*:before{
  box-sizing: inherit;
  padding: 0;

}

html {

  font-family: 'VCR_OSD_MONO', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
  font-weight: 400;
  font-size: calc(0.8em + 0.5vw);
  line-height: 1.3;

  --bg: #1e1e1e;
  --fg: #efefef;
  --gray: #aaa;
  --shadow: #2a2a2a;
  --light-gray: #444;
  --text-color-default: #ffffff;
  --gold-yellow: #FFE23F;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: var(--bg);
  font-family: 'VCR_OSD_MONO' !important;
  min-height: 100%;
  height: 100vh !important;
  color: var(--text-color-default);
}

.balance-text {
    text-align: center;
}

.h-100vh {
    min-height: 100vh!important;
}

.dark {
  background-color: rgb(15, 23, 42);
  min-height: 100vh;
}


.light .list-group-item:hover {
  background-color: #f5f5f5!important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.near-balance {
  animation: pop 0.3s linear 1;
}

.logo {
  --background: #F6F8FF;
  --colorwalletadapter: #1E2235;
  --shadow: #00093d38;
  --z-before: -6;
  display: block;
  outline: none;
  cursor: pointer;
  position: relative;
  color: var(--colorwalletadapter);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--transform-duration, .4s);
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);

    
}

.nearlogo {
  background-position: center 1em;
  background-repeat: no-repeat;
  background-size: auto 1.5em;
  text-align: center;
  width: 1.7rem;
}
.profile-picture-md .image {
    height: 41px;
    width:  41px;
}
.cursor-pointer {
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
}
a,
.link {
  color: #0072CE;
  text-decoration: none;
}
a:hover,
a:focus,
a:focus-visible,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: #0072CE;
}

button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}

[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: #ccc;
  color: gray;
  cursor: not-allowed;
  transform: none;
}

[disabled] button {
  text-indent: -900em;
  width: 2em;
  position: relative;
}

[disabled] button:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #1e1e1e transparent #1e1e1e transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
}

@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

input {
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px 0 0 5px;
  caret-color: #FF585D;
  color: inherit;
  padding: 0.25em 1em;
}
input::selection {
  background-color: #0072CE;
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  color: #555;
}


@keyframes notify {
  0% { transform: translateY(10em) }
  5% { transform: translateY(0) }
  95% { transform: translateY(0) }
  100% { transform: translateY(10em) }
}

.textsurprise {
  color: var(--gold-yellow);
}

.social-icons {
  position: relative;
  z-index: 2;
}

.body-wrapper {
    padding-top: 20px;
}
.flex-sm-column {
    flex-direction: column!important;
}


/* min widh*/
@media (min-width: 650px) {
  .balance-text {
    text-align: right;
  }

  .social-icons  {
    position: absolute;
    height: 100%;
    top: 0;
    right: 1.8rem;
    width: auto;
  }
  .social-icons-left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1.8rem;
    width: auto;
  }
  .social-icons-bottom-left {
    position: absolute;
    /* height: 100%; */
    bottom: 1.8rem;
    left: 1.8rem;
    width: auto;
    z-index: 10;
  }
  .social-icons-bottom-right {
    position: absolute;
    /* 
    height: 100%;
    */
    bottom: 1.8rem;
    right: 1.8rem;
    width: auto;
    z-index: 10;
  }
  .social-icons-left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1.8rem;
    width: auto;
  }
  .social-icons-bottom-right {
    position: absolute;
    /* height: 100%; */
    bottom: 1.8rem;
    right: 1.8rem;
    width: auto;
    z-index: 10;
  }

  .maincenter, .play {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }

  .form-signin, .play {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 5px


  }
}


.fa-nearnfts::before{
  content: "\f0c9";
}

.fa-discord:before {
  content: "\f392";
}

.fa-twitter:before {
    content: "\f099";
}

.maincenter {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.menumain{
  width: 69vw;
  max-width: 870px;
  padding: 15px;
  margin: auto;
}

h1 {
  font-size: calc(3rem + .6vw);
}

.toolbar {
  justify-content: flex-end;
}

.wallet-adapter-button {
    background-color: #404144;

    --background: #F6F8FF;
    --colorwalletadapter: #1E2235;
    --shadow: #00093d38;
    --z-before: -6;
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 9px 22px 9px 16px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--colorwalletadapter);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform var(--transform-duration, .4s);
    will-change: transform;
    transform-style: preserve-3d;
    transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);
}

.wallet-adapter-button:hover {
    --transform-duration: .16s;
}

.wallet-adapter-button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    transform: translateZ(calc(var(--z-before) * 1px));
    background: var(--background);
    box-shadow: 0 4px 8px var(--shadow);
}


.profile-picture {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imageWrapper {
    position: relative;
}

.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 0;
    color: #fff;
    background: #000;
    text-decoration: none;
    text-align: center;
    transition: opacity .5s;
}

.profile-picture .image-large {
    width: 128px;
    height: 128px;
}
.imageWrapper {
    position: relative;
}
.imageWrapper img {
  display: block;
}

.imageWrapper:hover .cornerLink {
  opacity: 0.8;
}

.linetop {
  border-top: 1px solid rgba(0,0,0,.125);
}

.btn-danger:hover {
  background-color: #880b0b;
  transition: background-color .3s ease-in-out;
}


.play {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
  z-index: 5;
}

.top-index {
  position: relative;
  z-index: 5;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin {
  width: 100%;
  max-width: 1070px;
  margin: auto;
}

.toast-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
}



aside {
  position: absolute;
  animation: notify ease-in-out 6s;
  background-color: #212529;
  border-radius: 5px;
  bottom: 0;
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  position: fixed;
  transform: translateY(10em);
  right: 0;
  z-index: 11;
}
aside footer {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-top: 0.5em;
}
aside footer *:first-child {
  color: rgb(116, 194, 0);
}
aside footer *:last-child {
  color: gray;
}

.d-sm-inline-flex {
    display: inline-flex!important;
}

.flip-image {
	 position: absolute;
	 top: 0;
	 left: 0;
}
 .flip-image-list {
	 display: inline-block;
	 position: relative;
	 width: 300px;
	 height: 300px;
}
 .flip-image-list .flip-image.flip-front {
	 z-index: 2;
}
 .flip-image-list .flip-image.flip-back {
	 transform: rotateY(180deg);
	 z-index: 1;
}
 .flip-image-list.on .flip-image.flip-front {
	 transform: rotateY(180deg);
}
 .flip-image-list.on .flip-image.flip-back {
	 transform: rotateY(360deg);
}
 .flip-image-list .flip-image, .flip-image-list.on .flip-image {
	 transition: transform 1000ms;
	 backface-visibility: hidden;
}
 
ul.ba {
  list-style-type: none;
}
li{
  list-style:none ;
}

.start {
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  color: white;
  justify-content: center;
  text-shadow: 2px 2px 0 red;
}
.start {
  text-shadow: 1px 1px 0px rgb(236, 162, 0);
  transition: transform opacity 1.5s ease-out;
  animation: opacityPulse 1.2s ease-out;
  animation-iteration-count: infinite;
}
.game:target .start {
  animation: none;
  opacity: 0;
  pointer-events: none;
}
.game:target .content {
  opacity: 1;
}
@keyframes opacityPulse {
  30% { opacity: 0; }
  60% { opacity: 1; }
}

.button-retro {
  white-space: normal; 
  position: relative;
  display: inline-block;
  padding: 10px 8px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: #141418;
  background-color: #fff;
  box-shadow: inset -3px -3px #adafbc;
  will-change: transform;
  transition: transform 0.1s ease-in-out;
  font-weight: bold;
}
.button-retro:hover {
  background-color: #e7e7e7;
  box-shadow: inset -4px -4px #adafbc;
  transform: translateY(-1px);
}
.button-retro:active {
  box-shadow: inset -4px -4px #c9cad3;
  transform: translateY(1px);
}
.button-retro::before, .button-retro::after {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  content: "";
  border-color: #141418;
  border-style: solid;
  border-width: 4px;
}
.button-retro::before {
  top: -4px;
  left: 0;
  border-right: 2px;
  border-left: 2px;
}
.button-retro::after {
  top: 0;
  left: -4px;
  border-top: 2px;
  border-bottom: 2px;
}
.button-retro:focus {
  outline: 4px solid currentColor;
}
.button-retro.is-warning {
  color: #141418;
  background-color: #f7d51d;
  box-shadow: inset 0px -3px #e59400;
  will-change: transform;
  transition: transform 0.1s ease-in-out;
}
.button-retro.is-warning:hover {
  background-color: #f2c409;
  box-shadow: inset 0px -4px #e59400;
  transform: translateY(-1px);
}
.button-retro.is-warning:active {
  box-shadow: inset 0px -4px #ffae19;
  transform: translateY(1px);
}