@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url(./assets/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}

* {
  box-sizing: inherit;
  padding: 0;
}
*:after{
  box-sizing: inherit;
  padding: 0;

}
*:before{
  box-sizing: inherit;
  padding: 0;

}

html {

  font-family: 'VCR_OSD_MONO', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
  font-weight: 400;
  font-size: calc(0.8em + 0.5vw);
  line-height: 1.3;

  --bg: #1e1e1e;
  --fg: #efefef;
  --gray: #aaa;
  --shadow: #2a2a2a;
  --light-gray: #444;
  --text-color-default: #ffffff;
  --gold-yellow: #FFE23F;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: var(--bg);
  font-family: 'VCR_OSD_MONO' !important;
  min-height: 100%;
  height: 100vh !important;
  color: var(--text-color-default);
}

.balance-text {
    text-align: center;
}

.h-100vh {
    min-height: 100vh!important;
}

.dark {
  background-color: rgb(15, 23, 42);
  min-height: 100vh;
}


.light .list-group-item:hover {
  background-color: #f5f5f5!important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.near-balance {
  animation: pop 0.3s linear 1;
}

.logo {

    --background: #F6F8FF;
    --colorwalletadapter: #1E2235;
    --shadow: #00093d38;
    --z-before: -6;
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    color: var(--colorwalletadapter);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform var(--transform-duration, .4s);
    will-change: transform;
    transform-style: preserve-3d;
    transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);

    
}

.nearlogo {
  background-position: center 1em;
  background-repeat: no-repeat;
  background-size: auto 1.5em;
  text-align: center;
  width: 1.7rem;
}
.profile-picture-md .image {
    height: 41px;
    width:  41px;
}
.cursor-pointer {
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
}
a,
.link {
  color: #0072CE;
  text-decoration: none;
}
a:hover,
a:focus,
a:focus-visible,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: #0072CE;
}

button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}

[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: #ccc;
  color: gray;
  cursor: not-allowed;
  transform: none;
}

[disabled] button {
  text-indent: -900em;
  width: 2em;
  position: relative;
}

[disabled] button:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #1e1e1e transparent #1e1e1e transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
}

@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

input {
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px 0 0 5px;
  caret-color: #FF585D;
  color: inherit;
  padding: 0.25em 1em;
}
input::selection {
  background-color: #0072CE;
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  color: #555;
}


@keyframes notify {
  0% { transform: translateY(10em) }
  5% { transform: translateY(0) }
  95% { transform: translateY(0) }
  100% { transform: translateY(10em) }
}

.textsurprise {
  color: var(--gold-yellow);
}

.social-icons {
  position: relative;
  z-index: 2;
}

.body-wrapper {
    padding-top: 20px;
}
.flex-sm-column {
    flex-direction: column!important;
}


/* min widh*/
@media (min-width: 650px) {
  .balance-text {
    text-align: right;
  }

  .social-icons  {
    position: absolute;
    height: 100%;
    top: 0;
    right: 1.8rem;
    width: auto;
  }
  .social-icons-left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1.8rem;
    width: auto;
  }
  .social-icons-bottom-left {
    position: absolute;
    /* height: 100%; */
    bottom: 1.8rem;
    left: 1.8rem;
    width: auto;
    z-index: 10;
  }
  .social-icons-bottom-right {
    position: absolute;
    /* 
    height: 100%;
    */
    bottom: 1.8rem;
    right: 1.8rem;
    width: auto;
    z-index: 10;
  }
  .social-icons-left {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1.8rem;
    width: auto;
  }
  .social-icons-bottom-right {
    position: absolute;
    /* height: 100%; */
    bottom: 1.8rem;
    right: 1.8rem;
    width: auto;
    z-index: 10;
  }

  .maincenter, .play {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }

  .form-signin, .play {
    padding: 15px
  }
}


.fa-nearnfts::before{
  content: "\f0c9";
}

.fa-discord:before {
  content: "\f392";
}

.fa-twitter:before {
    content: "\f099";
}

.maincenter {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.menumain{
  width: 69vw;
  max-width: 870px;
  padding: 15px;
  margin: auto;
}

h1 {
  font-size: calc(3rem + .6vw);
}

.toolbar {
  justify-content: flex-end;
}

.wallet-adapter-button {
    background-color: #404144;

    --background: #F6F8FF;
    --colorwalletadapter: #1E2235;
    --shadow: #00093d38;
    --z-before: -6;
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 9px 22px 9px 16px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--colorwalletadapter);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform var(--transform-duration, .4s);
    will-change: transform;
    transform-style: preserve-3d;
    transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);
}

.wallet-adapter-button:hover {
    --transform-duration: .16s;
}

.wallet-adapter-button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    transform: translateZ(calc(var(--z-before) * 1px));
    background: var(--background);
    box-shadow: 0 4px 8px var(--shadow);
}


.profile-picture {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imageWrapper {
    position: relative;
}

.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 0;
    color: #fff;
    background: #000;
    text-decoration: none;
    text-align: center;
    transition: opacity .5s;
}

.profile-picture .image-large {
    width: 128px;
    height: 128px;
}
.imageWrapper {
    position: relative;
}
.imageWrapper img {
  display: block;
}

.imageWrapper:hover .cornerLink {
  opacity: 0.8;
}

.linetop {
  border-top: 1px solid rgba(0,0,0,.125);
}

.btn-danger:hover {
  background-color: #880b0b;
  transition: background-color .3s ease-in-out;
}


.play {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
  z-index: 5;
}

.top-index {
  position: relative;
  z-index: 5;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin {
  width: 100%;
  max-width: 1070px;
  margin: auto;
}

.toast-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
}



aside {
  position: absolute;
  animation: notify ease-in-out 6s;
  background-color: #212529;
  border-radius: 5px;
  bottom: 0;
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  position: fixed;
  transform: translateY(10em);
  right: 0;
  z-index: 11;
}
aside footer {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-top: 0.5em;
}
aside footer *:first-child {
  color: rgb(116, 194, 0);
}
aside footer *:last-child {
  color: gray;
}

.d-sm-inline-flex {
    display: inline-flex!important;
}


.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}
.tg-list-item {
  margin: 0 0;
}
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 5rem;
  height: 5rem;
  position: relative;
  cursor: pointer;
  user-select: none;

}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9fd6ae;
}
.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  transition: all 0.2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7fc6a6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7fc6a6;
}
.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 50%!important;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02c66f;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #f2f2f2;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7fc6a6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}
ul.ba {
  list-style-type: none;
}
li{
  list-style:none ;
}
